body {
  font-family: "Segoe UI", sans-serif;
  background: #0d1117;
  color: #e6edf3;
  margin: 0;
  padding: 0;
}

nav {
  background: #161b22;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: #238636;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #2ea043;
}

main {
  text-align: center;
  padding: 20px;
}

.hidden {
  display: none;
}

#chart-container {
  width: 90%;
  height: 400px;
  margin: 20px auto;
  border: 1px solid #30363d;
  border-radius: 8px;
}

#pineEditor {
  width: 80%;
  background: #161b22;
  color: #e6edf3;
  border: 1px solid #30363d;
  border-radius: 6px;
  margin-top: 1rem;
  padding: 0.5rem;
  font-family: monospace;
}
